@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.bg-auth {
    background-image: url("../assets/background.svg");
    background-size: cover;
}

.fade-enter {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}


.clip-bottom {
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

[contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    opacity: 0.5;
}

div, span {
    @apply select-none;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform .25s ease,opacity .2s ease
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: transform .25s ease,opacity .2s ease
}